.profileNav {
    width: 5%;
    border-radius: 50%;
}
.headerPhoto {
margin-top: 5%;
display: flex;
justify-content: center;
}
.profile {
border-radius: 50%;
width: 15%;
}
.card {
margin-top: 10%;
width: 25%;
}
